*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     outline:none;
    
}

// container width 1311px
// container height 525px;

// navbar height 525px
// navbar width 82px


// inner-container width 1214px
body,html{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(237, 243, 247)), to(rgb(237, 243, 247)));
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#search-bar{
    display: none;
    
    // width: 272px;
    width:0px;
   
    height:100%;
    background-color: #FCFCFC;
    padding:0px;
    
    position: absolute;
    right:0px;
    z-index: 10;
    #search-bar-open-button{
        
        top:30px;
        width:50px;
        height: 50px;
        position: absolute;
        right:100%;
        font-size:20px;
        padding:5px;
        background-color: #FCFCFC;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-left:2px solid lightgrey;
        border-top:2px solid lightgrey;
        border-bottom:2px solid  lightgrey;
        border-right:none;
        

        @media(max-width:1200px){
            &{
                top:100px;
            }

        }
    }
    

    #search-bar-inner-search-bar{
        overflow:hidden;
        background-color: #FFFFFF;
     
        padding:0px 10px;

        

        input{
            padding:10px;
            width:80%;
            border-top-left-radius:7px;
            border-bottom-left-radius:7px;
            border:2px solid lightgrey;
            border-right: none;
            
            

        }
        button{
            border-top-right-radius:7px;
            border-bottom-right-radius:7px;
            padding:10px;
            width:20%;
            background:none;
            border:2px solid lightgrey;
            border-left:none;
            
            
        }
    }

    #recent-post{
        overflow:hidden;
        
        padding:10px;
        background-color: #FFFFFF;

        #inner-recent-post{
            height:350px;
            
            
            &::-webkit-scrollbar {
                display: none;
              }
              
              /* Hide scrollbar for IE, Edge and Firefox */
               &{
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
              }
            width:100%;
            border:2px solid lightgrey;
            border-radius: 7px;
            padding: 10px;
            h4{
                color:$main-color-black;
            }
            ul{
                li{
                   list-style-type: circle;
                   font-size:15px;
                   color:$main-color-grey;
                   &::marker {
                    color:$main-color-blue;
                   }
                   margin-left:20px;

                }
            }
            


        }

        
        
        
        
    }


    #recent-comment{
        overflow:hidden;
        padding:10px;
        background-color: #FFFFFF;

        #inner-recent-comment{
            width:100%;
            border:2px solid lightgrey;
            border-radius: 7px;
            padding: 10px;
            h4{color:$main-color-black;}

            ul{

                
                li{
                   list-style-type: circle;
                   font-size:15px;
                   color:$main-color-grey;
                   &::marker {
                    color:$main-color-blue;
                    border:2px solid $main-color-blue;
                   }
                   margin-left:20px;

                }
            }


        }
        
        
        
    }
    
    
}

#responsive-menu-button{
    display: none;
    position: absolute;
    right:10px;
    top:10px;
    padding:10px;
    width:50px;
    height:50px;
    border:none;
    background-color: $main-color-blue;
    color:$main-color-white;
    border-radius: 50%;
    z-index: 16;
    font-size:20px;

    @media(max-width: 1200px){
        display: block;
    }
}

#responsive-menu{
    overflow: hidden;
    position: absolute;
    right:0px;
    height:100%;
    width:0px;
    background-color:$main-color-blue;
    z-index:15;
    display: flex;
    align-items: center;
    justify-content: center;

    #inner-responsive-menu{
        width:80%;
        height:90%;
        display: flex;
        align-items:center;
        flex-direction: column;
        
        img{
            height:150px;
            width:150px;
            object-fit: cover;
            border-radius: 50%;
            border:2px solid $main-color-white;

        }

        #text {
            text-align: center;
            color: $main-color-white;


        }

        #nav-menu{
            display: flex;
            flex-direction: column;
            text-align: center;
            a{
                color:$main-color-white;
                text-decoration: none;
            }
        }

        #social{
            
            width:50%;
            display: flex;
            font: 1em sans-serif;
            align-self: center;
            justify-content: space-evenly;
            a{
                color:$main-color-white;
            }
        }

    }
}

#container{
    width:95.97%;
    height:79.91%;
    
    
    display: flex;
    justify-content: space-between;

    #inner-container{
        width:92.6%;
        height:100%;
        background-color: $main-color-blue;
        border-radius: 30px;
        display: flex;
        box-shadow: 0px 0px 2px black;

        &:hover{

            ::-webkit-scrollbar-thumb{
                transition: 0.5s;
                background: #888;
            }

        }
        


        #inner-container-profile{

            width:31.3%;
            height:100%;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
    
            #inner-container-inner-profile{
                width:86.84%;
                display: flex;
                flex-direction: column;
                align-items:center;
                margin-top: 60px;
                color:$main-color-white;
    
                img{
                    width:150px;
                    height:150px;
                    border:3px solid $main-color-white;
                    border-radius: 50%;
                }
                h4{
                    font-weight: normal;
                }
                
    
                .inner-container-inner-profile-social{
                    width:100%;
                    height:auto;
                    display: flex;
                    justify-content: center;
                    
                  
                    .inner-container-inner-profile-inner-social{
                        width:40%;
                        display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-direction: row;
    
                    }
    
                }
                
              
    
            }

           
           
        }

        #inner-container-container{
            width:68.78%;
            height:100%;
            border-radius: 30px;
            background-color: $main-color-white;
            overflow-y:scroll;
            
           
          


            
        }

        @media(max-width:1200px) {

            #inner-container-profile{
                display: none;
            }

            #inner-container-container{
                width:100%;
                height:100%;
                border-radius: 0px;
            }

            &{
                width:100%;
                height:100%;
            }

            
            
        }
        
        
    }

    // nav part

    #navbar{
    width:6.25%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #inner-navbar-menu{
        width:100%;
        height:63.05%;
        border-radius: 40px;
        background-color: $main-color-white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 0px 2px black;
        position: relative;
        

        a{
            color:#BBBBBC;
        
            font-size:20px;
            display: block;
            span{
                font-size:15px;
                text-align: center;
             width:90px;   
             position: absolute;
             left:0%;
             opacity: 0%;
             padding:5px;
             color:$main-color-white;
             background-color: $main-color-blue;
            }
            &:hover{
                transition: 0.5s;
                color:$main-color-blue;
                span{
                    transition: 0.5s;
                    left:-100%;
                    opacity: 100%;
                }
            }
            
        }
        
    
    }
    
    #inner-navbar-arrow{
        box-shadow: 0px 0px 2px black;
        height:22.1%;
        width:73.17%;
        border-radius: 40px;
        background-color: $main-color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        

        a{
            color:#BBBBBC;
            text-decoration: none;
            font-size:25px;
            display: block;
            span{
             display:none;
            }
            &:hover{
                color:$main-color-blue;
            }
            
        }
        
    }

    @media(max-width:1200px){
        
        &{
            display:none;
        }

    }
    
    
    }
    // media
    @media(max-width:1200px){
        width:100%;
        height:100%;
    }

    



}








