<div id="responsive-menu">

    <div id="inner-responsive-menu">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYbkzjG9fJ5xhklhWMgHgOJfNkBnQtF0bOwA&usqp=CAU" alt="">
    </br>
        <div id='text'>

            <h2>Punhan Huseynov</h2>
            <p>Web Developer</p>

        </div>
    </br>
        <div id='nav-menu'>

            <a href="/about">About Me</a>
        </br>
            <a href="/resume">Resume</a>
        </br>
        <a href="/portfolio">Portfolio</a>
        </br>
            <a href="/blog">Blog</a>
        </br>
            <a href="/contact">Contact</a>

        </div>
    </br>
        <div id='social'>
            <a href=""> <i class="fab fa-twitter"></i></a>
            <a href=""> <i class="fab fa-github"></i></a>
            <a href=""> <i class="fab fa-google"></i></a>
        </div>

    </div>

</div>