<div id="navbar">

    <div id="inner-navbar-menu">

        <a href="/about"><i class="fas fa-user"></i><span>About me</span></a>
        <a href="/resume"><i class="fas fa-graduation-cap"></i><span>Resume</span></a>
        <a href="/portfolio"><i class="fas fa-briefcase"></i><span>Portfolio</span></a>
        <a href="/blog"><i class="fas fa-pager"></i><span>Blog</span></a>
        <a href="/contact"><i class="fas fa-envelope"></i><span>Contact</span></a>
       
        

    </div>

    <div id="inner-navbar-arrow">

        <a href="#" class="arrow" id='arrow-right'><i class="fas fa-chevron-right"></i></a>
        <a href="#"class="arrow" id='arrow-left'><i class="fas fa-chevron-left"></i></a>

    </div>


</div>