<div id="inner-container-profile">
            
    <div id="inner-container-inner-profile">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYbkzjG9fJ5xhklhWMgHgOJfNkBnQtF0bOwA&usqp=CAU"  >
      
    </br>

    <h1 >Punhan Huseynov</h1>

    
    <h4 >Web Developer</h4>


</br>
    <div class="inner-container-inner-profile-social">
           <div class="inner-container-inner-profile-inner-social">
                    
                    <i class="fab fa-twitter"></i>
                </br>
                        <i class="fab fa-github"></i>
                </br>
                        <i class="fab fa-google"></i>
            </div>
    </div>

    </div>

</div>