*{
    margin:0px;
    padding: 0px;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body,html{
    width:100%;
    height: 100%;
    background-color:#f1f1f1;
}
#headdiv{
    width:50%;
    margin-left:25%;
    background-color:#fdb827;
    height:300px;
    border-radius: 10px;
    

}
#div{
    width:80%;
    height: 80%;
    margin-left:10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
#innerdiv{
    width:100%;
    display: flex;
    flex-direction: row;


}

#submit{
    width:100%;
    height:30px;
    border:none;
    border-radius: 5px;
    background-color: #21209c;
    color:white;



}
#submit:hover{
    border:1px solid black;
    background-color: white;
    color:#21209c;
}
#text{
    width:80%;
    height:30px;
    border-radius: 5px;
    border: 1px solid black;
}
#togglebutton{
    width:15%;
    height:30px;
    margin-left:5%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}
#alertp{
    width:80%;
    height:30px;
    border-radius: 5px;
    
}