
#about-div{

    width:85.61%; 
    font-size:19px;
    
    margin:10px auto;


    #about-div-row{
        width:100%;
        display: flex;
        margin-top: 100px;
        align-items: center;
        
        #about-div-row-img{
            width:41.18%;
            
            padding:10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            #img{
                height:230px;
                width:230px;
                background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYbkzjG9fJ5xhklhWMgHgOJfNkBnQtF0bOwA&usqp=CAU');
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
                box-shadow: 0px 0px 10px $main-color-black;
                border:15px solid white;
                
            }
        }

        #about-div-row-text{
            word-spacing: 2px;
            width:57.79%;
            padding-left:10px;
            
            h1{color:$main-color-black;
            font-weight: 700;}
            p{
                color:$main-color-grey;
                font-size:15px
            }
            
        }

    }

    #whatido{
        width:100%;
        color:$main-color-black;
        span{
            color:$main-color-blue;
        }
    }

    #about-div-row-2{

        padding-top:50px;
        padding-bottom:50px;
        display: flex;
        color:$main-color-black;
        
        

        #about-div-row-2-part{
            width:50%;
            i{
                font-size: 35px;
                color:$main-color-blue;
            }
            h5{
                margin-top:10px;
                font-weight: bold;
            }
            p{
                margin-top:10px;
                font-size: 15px;
                word-spacing: 2px;
                color: $main-color-grey;
            }
        }

    }

    
}