// About div css
#about-div{
    width:90%;
    height:100%;
    display: flex;
    flex-direction: column;
    margin-left:5%;
    overflow-y: auto;
    word-wrap: break-word;
    


}


#about-div-row{
    width:100%;
    display: flex;
    flex-direction: row;
    
    
}



#about-div-row2{
    width:100%;
    padding:0px;
    display: flex;
    flex-direction: row;
   
}

#about-div-row2-part p{

    color:$main-color-grey;
    

}

#about-div-row2-part i{

    font-size:30px;
    color:$main-color-blue;

}


#what-can{
    color:$main-color-blue;
}




#about-div-img{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    #img{
        border:10px solid white;
        border-radius: 100%;
        box-shadow: 0px 0px 10px black;
        text-align: center;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWQYg1cS6FRd7VyzcLwE6BOUf7vpynzbqt3A&usqp=CAU');
        background-size: cover;
        overflow: hidden;
        width:200px;
        height:200px;
        background-position: center;
        background-repeat: no-repeat;
    }
   
}

#about-div-text2{
    
    color:$main-color-grey
   
}

#about-div-text2{
    
    color:$main-color-grey
   
}

#about-div-text2 span{
    
    color:$main-color-blue;
    font-weight: 600;
   
}


#about-div-text p{
    
    color:$main-color-grey;
}








// medias

@media(max-width:756px){
    
#about-div{
    flex-direction: column;
    
    
}

#about-div-row{
    flex-direction: column;
}

#about-div-row2{
    flex-direction: column;
}





    
#about-div-img{
    width:100%;
    height:auto;
    align-items:center;
    justify-content: center;
    
    
}
#about-div-text{
    width:100%;
    height: auto;
    font-size: 4vw;
    justify-content: flex-start;
    
    
    
}

#about-div-text-p{
    text-align: center;
    
    
    
}


#about-div-text2{
    
    width:100%;
   
}




#about-div-text h1{
    text-align: center;
}

.about-div-p{
    text-align: center;
    
}

#about-div img{
    width:150px;
    height:150px;
    box-shadow:0px 0px 5px $main-color-black ;
}

#about-div-row2-part {

    width:100%;


}



}