#blog-div{
    height:100%;
    overflow-y: auto;
}

#blog-div-header h1{
    margin-left:20px;
}

#blog-div-posts{
    display: flex;
    flex-wrap: wrap;
}

#blog-div-posts-card{
    height:300px;
    overflow: hidden;
    
}

#blog-div-posts-card-img{

    height:150px;
    overflow: hidden;
    border-radius: 10px;
 
    
}




#blog-div-posts-card-inner-img{

    height:100%;
    padding:0px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
   
    
}

#blog-div-posts-card-inner-img i{
    position: absolute;
    z-index: 2;
    color:$main-color-white;
    font-size: 40px;
    display: none;
 
    
}

#blog-div-posts-card-inner-img:hover i{

    display: block;
    
    
   
    
}

#blog-div-posts-card-inner-img:hover #blog-div-posts-card-inner-img-overlay{

    width:100%;
    height:100%;
    
    
    
   
    
}

#blog-div-posts-card-inner-img-overlay{
    transition: 0.1s;
    position: absolute;
    width:0%;
    height:0%;
    background-color: rgba(0px, 0px, 0px, 0.2);
    z-index: 1;
    border-radius: 10px;
    
    
    
}

#blog-div-posts-card-inner-img img{

    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    
    
    
}


#blog-div-posts-card-inner-img:hover img{

    transform: scale(1.1);
    
    
    
}










#blog-div-posts-card-text{
    height:150px;
}

#blog-div-posts-card-text p{
    color:$main-color-grey;
}


#blog-div-posts-card-text a{
    color:$main-color-black
}


#blog-div-button{
    transition: 0.4s;
    padding:5px;
    border-radius: 20px;
    color:$main-color-black;
    background-color: $main-color-white;
    border:2px solid $main-color-blue;
    margin-left:20px;
    &:hover{
        background-color: $main-color-blue;
        color:$main-color-white;

    }
}

@media(max-width:756px){

    #blog-div-posts-card{
        width:100%;
    }

}