#contact-div{width:85.61%; 
    font-size:19px;
    
    margin:60px auto;
    color:$main-color-black;

    #contact-div-row{
        margin-top: 20px;
        width:100%;
        display: flex;
        justify-content: space-between;
        height:601px;

        #part-1{
            width:34.02%;
 
            
            height:100%;
            display: flex;
            flex-direction: column;
            
            #part{
                height:18.76%;
                width:100%;
                border-radius: 5px;
                background-color: #FCFCFC;
                border:2px solid #E5E5E5;
                display: flex;
                flex-direction:column ;
                justify-content: space-evenly;
                align-items: center;
                i{
                    font-size:35px;
                    color:$main-color-blue;
                }
                h5{
                    font-weight: bold;
                    color:$main-color-black;
                    
                }
            }
        }

        #part-2{
            
            width:67.65%;
            
            height:100%;
            padding-left: 20px;

            #gps{
                width:100%;
                height:140px;
           
                border-radius: 10px;
                
            }

            h4{
                span{
                    color:$main-color-blue;
                }
            }

            #row{
                display: flex;
                flex-direction: row;
                #part{
                    width: 50%;
                    height:30px;
                    
                    height:190px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    input{
                        padding:5px;
                        width:90%;
                        border:2px solid #BFBFBF;
                        border-radius: 5px;
                        &:focus{
                            border:2px solid $main-color-blue;
                        }

                    }
                    textarea{
                        height:100%;
                        width:100%;
                        padding:0px;
                        border:2px solid #BFBFBF;
                        border-radius: 5px;
                        padding: 5px;
                        &:focus{
                            border:2px solid $main-color-blue;
                        }
                    }
                }
            }

            #send-button{
                margin-top:30px;
                padding:5px 10px;
                background-color: $main-color-white;
                color:$main-color-black;
                border:2px solid $main-color-blue;
                border-radius: 20px;;
                font-size:18px;
        
                &:hover{
                    background-color: $main-color-blue;
                    color:$main-color-white;
                    transition: 0.5s;
                }
        
            }
        }

         @media(max-width:800px){
             flex-direction: column;
            height:auto;
            #part-1,#part-2{
                width:100%;
                padding:0px;
                height:601px;
                margin-top:20px;
                
                #part{
                    height:200px;
                }
             }
            
         }
         @media(max-width:756px) {

            #part-2{
                height:700px;
                #row{
                    flex-direction: column;
                    #part{
                       
                        width:100%;
                        justify-content: space-evenly;
                        input {
                            width:100%;
                            padding:10px 5px;
                        }

                    }
                }
            }
             
         }
    }

    
    
}