#contact-div{
    width:90%;
    height:100%;
    overflow-y: auto;
    
    margin-left: 5%;
}

#contact-div-row{
    
    
    display: flex;
}

#contact-div-row-part-1{
    display: flex;
    flex-direction: column;
    
}


#contact-div-row-part-1-div{
    
    height:110px;
    border-radius: 10px;
    border:1px solid lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size:1.1vw;
    i{
        font-size:2vw;
        color:$main-color-blue;
    }
}

#contact-div-row-part-2{
    
    h3 span{
        color:$main-color-blue;
    }
   
    #contact-div-row-part-2-row{
        display: flex;
        padding:0px;
        flex-direction: column;
        #contact-div-row-part-2-row-part{
            height:200px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            
            input{
                padding:10px;
                border-radius: 10px;
                border:1px solid $main-color-grey;
                transition: 0.1s;
                &:focus{
                    border:2px solid $main-color-blue;
                }

            }
            textarea{
                padding:10px;
                border-radius: 10px;
                border:1px solid $main-color-grey;
                height:300px;
                transition: 0.1s;
                &:focus{
                    border:2px solid $main-color-blue;
                }
                

            }
            
        }
        
    }

    #button-row{
        button{
            padding:10px;
            background-color: $main-color-white;
            color:$main-color-black;
            border:2px solid $main-color-blue;
            border-radius: 20px;
            transition: 0.5s;
            &:hover{
                background-color: $main-color-blue;
                color:$main-color-white;
            }

        }
    }
    
}

@media(max-width:756px){
    #contact-div-row{
    
    
        
        flex-direction: column;
    }
    #contact-div-row-part-1{
        width:100%;
        
        i{
            font-size:6vw;
            
        }
        h3{
            font-size: 3vw;
        }

    }
    #contact-div-row-part-2{
        width:100%;
        
    }

}