#portfolio-div{
    font-size:19px;
    width:85.61%; 

    margin:60px auto;
    color:$main-color-black;

    #portfolio-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .row-item{
            width:30.91%;
            max-width: 100%;
            height:250px;
            margin-top:20px;
            border-radius: 10px;;   
           
            overflow: hidden;

            #img-div{
                height:80%;
                width:100%;
                overflow: hidden;
                border-radius: 10px;
                position: relative;

                p{
                    position: absolute;
                    top:10px;
                    left:10px;
                    background-color: white;
                    padding:5px 10px;
                    display: inline-block;
                    font-size:10px;
                    transition: 0.5s;
                    opacity: 0%;
                }


                
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s;
                    
                }
                &:hover{
                    img{
                        transition: 0.5s;
                        transform: scale(1.1);
                    }
                    p{

                        opacity: 100%;
                        z-index:3;

                    }
                }
            }

            #text-div{
                padding:5px 0px;
            }

            
            
        }

        @media(max-width: 756px){
            .row-item{
                width:48%;
                height:300px;
            }
        }
        @media(max-width: 500px){
            .row-item{
                width:100%;
                height:300px;
            }
        }
    }
}

#lightbox{
    transition: 0.5s;
    width:0%;
    opacity: 0%;
    height:100%;
    overflow:auto;
    position: absolute;
    z-index: 100;
    background-color: white;
    color:$main-color-black;
    
    

    #inner-lightbox{
    position: relative;
    width:80.69%;
    margin:50px auto;

    #closer-button{
        position: absolute;
        top:10px;
        right:0px;
        border:none;
        background-color: #FAFAFA;
        padding:10px;
        font-size:20px;
    }

    h1{
        margin:60px 0px;

    }
    
    #row{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
        

        #part1{
            height: auto;
            width:64.49%;
            
            p{
                word-spacing: 3px;
                color:grey
            }

            #slider{
                margin-top:10px;
                width:100%;
                height:400px;
            display: flex;
            
            overflow: hidden;
            
            position: relative;

            @media(max-width:1200px){
                height:350px;
            }
            @media(max-width:756px){
                height:250px;
            }
            button{
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                z-index:3;
                background-color: white;
                padding:10px;
                border:none;
                font-size:30px;
                transition: 0.5s;

                
            }
            .f{
            left:-50px;
            }
            .s{
                right:-50px;
            }

            &:hover{
                .f{ 
                    
                    left:0px;
                    }
                    .s{
                        right:0px;
                    }
            }
            
            #active-row{
                width:50px;
                height: 50px;
                position: absolute;
                right: 10px;
                bottom: 10px;
                z-index: 10;
                background-color: white;
                display: flex;
                justify-content: space-between;
                span{
                    width:10px;
                    height:10px;
                    background-color: white;
                    border:1px solid lightgrey;
                    border-radius: 50%;;
                    position: absolute;
                    
                  
                }
            }

            img{
                display: flex;
                flex-shrink: 0;
                flex-basis: 100%;
                width:100%;
                position:relative;
                top:0px;
                left:0px;
                object-fit: cover;
                transition: 1s;
             
                }
            }

        }
        #part2{   
            width:28.97%;
            height:fit-content;
            padding:20px;
            border:2px solid #EEEEEE;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            
            
            a{
                text-decoration: none;
                color:$main-color-blue;
            }
            i{
                color:$main-color-blue;
            }
            label,p{
                font-size:15px;
                color:grey;
            }
            a  {
                font-size:15px;
            }

            .tag-row{

                width:100%;
                .row-0{
                    padding:1px;
                    display: inline-block;

                    .row-1{
                        padding:2px 5px ;
                        display: inline-block;
                        font-size: 12px;
                        border:1px solid grey;
                        border-radius: 5px;
                    }


                }
                

            }
          
            
        }

        
    }
    @media(max-width:756px){
        h1{
            margin:20px 0px;
        }
        #row{
            flex-direction: column;
            #part1,#part2{
                width:100%;
                margin-top:20px;
            }
        }
    }
    
    

    }

    

    

}