*{
    margin:0px;
    padding:0px;
    font-family: roboto;
}

#container{
    width:100%;

}

#header{
    width:100%;
    background-color: black;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

#inner-header{
    width:90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
}

#nav-menu-row{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: row;
    
}

#inner-header h1{
    color:white;
    font-size:20px;
    
}

#nav-menu-row a{
    color:white;
    text-decoration: none;
    padding:0px 5px;
    border-radius: 5px;
}

#nav-menu-row a:hover{
    color:black;
    text-decoration: none;
    background-color: rgb(133, 226, 114);
}

#background-div{
    width:100%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJvOhYJxRMnIT03TVsIk5GI-GSbVyetLjtbA&usqp=CAU");
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
}

#inner-con{
    width:90%;
    margin-left:5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:400px;
    justify-content: space-around;
}

#inner-con-header{
    width:100%;
    display: flex;
    flex-direction:column;
    height: 100px;
    align-items: center;
    justify-content:center;
    
}

#inner-con-card{
    width:25%;
    height:200px;
    background-image: url('https://swall.teahub.io/photos/small/127-1272682_website-background-4401-wallpaper-website-background.jpg');
    border-radius: 10px;
}

#inner-con-card:hover{
  opacity: 70%;
}

#inner-con-2{
    padding-top:50px;
    width:100%;
    background-color:black;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

#inner-con-2-card{
    width:25%;
    height:300px;
    
   
}

#inner-con-2-card-img{
    width:100%;
    height:150px;
    background-image: url('https://www.industry.nsw.gov.au/__data/assets/image/0020/125516/field-540-x-300.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

#inner-con-2-card-text{
    width:90%;
    height:150px;
    text-align: left;
    margin-left:5%;
    color:white;
    overflow: hidden;

}




