#resume-div{
    width:90%;
    height:100%;
    overflow-y: auto;
    height:0%;
    flex-direction: column;
    margin-left:5%;

    
}

#resume-div-row{
    display: flex;
    flex-direction: row;
    padding:0px;
    
    
}

#resume-div-education{
    padding:0px;
}

#resume-div-skills{
    padding:0px;
}

// loading bars

#skill-bar-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size:15px;
    
}

.skill-bar-bar{
    width:100%;
    padding:1px;
    border:1px solid $main-color-blue;
    border-radius: 10px;
    .box{
        background-color:$main-color-blue;
        height:100%;
        border-radius: 10px;
        height:10px;
        padding:2px;
        
        
    }
}

#skill-bar-text p{
    
    color:$main-color-grey;
    font-size:12px;
    
}








// Medias 
@media(max-width:756px){

    #resume-div-row{
        flex-direction: column;
    }

    #resume-div-education{
        width:100%;

    }

    #resume-div-skills{
        width:100%;
        
    }

}




