<div id='search-bar'>
    <button id='search-bar-open-button'><i class="fas fa-list"></i></button>
    <div id='search-bar-2'>

    

    <div id='search-bar-inner-search-bar'>

        <input type='text' placeholder="Search" ><button><i class="fas fa-search"></i></button>

    </div>
    

    <div id="recent-post">
        

        <div id='inner-recent-post'>
            <h4>Recent Posts</h4>
        
            <ul>
            
                <li>Lorem, ipsum dolor Lorem, ipsum.. Lorem ipsum dolor sit amet. </li>
            </br>
                <li>Lorem, ipsum dolor Lorem, ipsum.. Lorem ipsum dolor sit amet.</li>
            </br>
                <li>Lorem, ipsum dolor Lorem, ipsum.. Lorem ipsum dolor sit amet..</li>
            </br>
            <li>Lorem, ipsum dolor Lorem, ipsum.. Lorem ipsum dolor sit amet..</li>
             </br>
            <li>Lorem, ipsum dolor Lorem, ipsum.. Lorem ipsum dolor sit amet..</li>
            </ul>
            




        </div>
    </div>

    <div id="recent-comment">
        <div id='inner-recent-comment'>
            <h4>Recent Comment</h4>
        
            <ul>
            
                <li>Lorem, ipsum dolor Lorem, ipsum.. Lorem ipsum dolor sit amet. </li>
            
            </ul>
            




        </div>
    </div>
</div>
</div>