*{
    margin: 0px;
    padding:0px;
    font-family: roboto;

}
#header{
    width: 100%;
    height:50px;
    background-color: #4452B0;
    text-align: center;
    
}
#header h1{
    color:white;
}

#body{
    width:50%;
    margin-left:25%;
    border:1px solid black;
    border-radius:5px;
    margin-top:10px;
}

#inner-body{
    width:60%;
    margin-left:20%;
}

#text{
    width:80%;
    height:30px;
    border:none;
    border-bottom: 1px solid black;
    margin-top:20px;
    outline: none;

}

#add-button{
    width:10%;
    margin-left:5%;
    height:30px;
    border-radius:5px;
    border:none;
}

#todo-div{
    margin-top:20px;
}

#delete-button{
    width:20%;
    height: 30px;
    border:none;
    border-radius:5px;
    margin-top:20px;
    margin-bottom: 20px;
    background-color: #DD5781;
    color:white;
}
#text-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    word-break: break-all;
}

#todo-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}