<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
   
    
</head>
<body>
    
    <!--Search bar -->
    {% include 'base/searchbar.html' %}

    <!-- mobile menu button -->
    {% include 'base/mobilemenubutton.html' %}

    <!-- Mobile menu -->
    {% include 'base/mobilemenu.html' %}

    <!-- Mobile Header -->
    {% include 'base/mobileheader.html' %}
    
    <!-- Mobile Navabr Arrow -->
    {% include 'base/mobilenavbararrow.html' %}
    
    <!-- Container -->
    <div id="container">

        
        <div id="inner-container">
            <div id="inner-container-profile">
            
                    <div id="inner-container-inner-profile">

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYbkzjG9fJ5xhklhWMgHgOJfNkBnQtF0bOwA&usqp=CAU"  >
                      
                    </br>
               
                    <h1 >Punhan Huseynov</h1>

                    
                    <h4 >Web Developer</h4>

                
                </br>
                    <div class="inner-container-inner-profile-social">
                           <div class="inner-container-inner-profile-inner-social">
                                    
                                    <i class="fab fa-twitter"></i>
                                </br>
                                        <i class="fab fa-github"></i>
                                </br>
                                        <i class="fab fa-google"></i>
                            </div>
                    </div>

                    </div>

            </div>

            <div id='inner-container-container'>

              
                    
                    <div id="about-div"> 
                        
                        <div id="about-div-row">

                            <div id="about-div-row-img">
                                <div id="img">

                                </div>
                            </div>

                            <div id="about-div-row-text">
                                <p>Web Developer</p>
                            
                                <h1>Punhan Huseynov</h1>
                            
                                <p> 
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse officiis libero labore inventore quisquam saepe hic repellat quasi. Tempore, impedit omnis nihil neque accusantium nam! Tempora unde, quos laudantium eum quidem aliquid voluptates incidunt? Dolorum ut accusantium laboriosam dolor aperiam assumenda quibusdam atque beatae doloremque. Officia repudiandae similique natus nesciunt.
                                </p>
                            </div>

                        </div>
                        </br>
                        </br>
                        </br>
                        <div id='whatido'>
                            <h3>What  <span> I Do</span></h3>
                        </div>
                        <div id='about-div-row-2'>

                            <div id='about-div-row-2-part'>
                            
                                <i  class="fas fa-code"></i>
                            </br>
                                <h5>Front End Development</h5>
                       
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates repellendus facilis beatae maxime tempora magnam!</p>
                                
                            </div>

                            <div id='about-div-row-2-part'>
                                <i  class="fas fa-server"></i>
                            </br>
                                <h5>Back End Development</h5>
                       
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates repellendus facilis beatae maxime tempora magnam!</p>
                                
                            </div>

                        </div>

                    </div> 

                 
            </div>

        </div>    

        {% include 'base/navbar.html' %}
       
    </div>
    <!-- script -->
    <script src='../static/js/main.js'></script>
    <script src='../static/js/imgposition.js'></script>
   

</body>
</html>

