<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
   
    
</head>
<body>


    <!--Search bar -->
    {% include 'base/searchbar.html' %}

    <!-- mobile menu button -->
    {% include 'base/mobilemenubutton.html' %}

    <!-- Mobile menu -->
    {% include 'base/mobilemenu.html' %}

    <!-- Mobile Header -->
    {% include 'base/mobileheader.html' %}
    
    <!-- Mobile Navabr Arrow -->
    {% include 'base/mobilenavbararrow.html' %}
    
    <!-- Container -->
    <div id="container">

        
        <div id="inner-container">
            <div id="inner-container-profile">
            
                    <div id="inner-container-inner-profile">

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYbkzjG9fJ5xhklhWMgHgOJfNkBnQtF0bOwA&usqp=CAU"  >
                      
                    </br>
               
                    <h1 >Punhan Huseynov</h1>

                    
                    <h4 >Web Developer</h4>

                
                </br>
                    <div class="inner-container-inner-profile-social">
                           <div class="inner-container-inner-profile-inner-social">
                                    
                                    <i class="fab fa-twitter"></i>
                                </br>
                                        <i class="fab fa-github"></i>
                                </br>
                                        <i class="fab fa-google"></i>
                            </div>
                    </div>

                    </div>

            </div>

            <div id='inner-container-container'>

              
                <div id="resume-div"> 
                      
                    <h2>Resume</h2>
                
                    <div id='resume-div-row'>
                        <div id="resume-div-row-part-1">
                            <div>
                                <h3>Education</h3>
                                
                            </div> 
                            
                            <div id='timeline'>

                                <ul>
                                    {% for i in edu %}
                                    <li>
                                        <div class="row">
                                            
                                        
                                        <div id="time">
                                            <h4>{{i.year}}</h4>
                                            <p>{{i.school}}</p>
                                        </div>
                                        <div id='content'>
                                            <h4>{{i.lesson}}</h4>
                                            <p>{{i.description}}</p>
                                        </div>
                                        
                                        </div>
                                    </li>
                                    {% endfor %}

                                    
                                   
                                   

                                </ul>

                            </div>
                            
                            </br>
                            <div>
                                <h3>Experience</h3>
                                
                            </div> 
                            <div id='timeline'>

                                <ul>
                                    <li>
                                        <div class="row">
                                            
                                        
                                        <div id="time">
                                            <h4>2020</h4>
                                            <p>Company</p>
                                        </div>
                                        <div id='content'>
                                            <h4>Junior Full Stack Developer</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta corporis eum corrupti maiores natus nostrum sint recusandae beatae laborum expedita autem officia pariatur repudiandae, sequi in architecto unde aspernatur magni quaerat necessitatibus. Ex asperiores molestiae quod delectus similique repudiandae atque, tenetur non autem voluptatibus, porro dicta culpa ab error at.</p>
                                        </div>
                                        
                                        </div>
                                    </li>

                                    <li>
                                        <div class="row">
                                            
                                        
                                        <div id="time">
                                            <h4>2022</h4>
                                            <p>Company</p>
                                        </div>
                                        <div id='content'>
                                            <h4>Junior Back end Developer</h4>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id praesentium aperiam quos obcaecati, voluptas expedita iste? Eum aliquid minima animi molestiae enim suscipit dolores unde, aperiam labore tempore quam vitae laudantium consequuntur corporis adipisci autem sed quas! Atque facilis porro enim? Eius alias porro dignissimos neque exercitationem quo ut earum.</p>
                                        </div>
                                        
                                        </div>
                                    </li>
                                   
                                   

                                </ul>

                            </div>
                            
                        </div>
                        
                        <div id="resume-div-row-part-2">
                            <div id='fchild'>
                                <h3>Coding Skills</h3>
                            </div>
                            <div id='skills-div'>
                
                                <div id='skill-bar'>
                
                                    <div id='skill-bar-text'>
                                        <h4>Html</h4>
                                        <p>100%</p>
                                    </div>
                                    <div id='skill-bar-bar'>
                                        <div id='inner-skill-bar-bar'></div>
                                    </div>
                                    
                
                                </div>

                                {% for  i in skil %}
                                <div id='skill-bar'>
                
                                    <div id='skill-bar-text'>
                                        <h4>{{i.name}}</h4>
                                        <p >{{i.level}}%</p>
                                    </div>
                                    <div id='skill-bar-bar' >
                                        <div id='inner-skill-bar-bar' class="load-bar"></div>
                                    </div>
                                    
                
                                </div>
                                {% endfor  %}
                               
                               
                               
                                
                
                            </div>
                
                            <div id="knowledges-div">
                                <h3>Knowledges</h3>
                                <div id='knowledge-row'>
                                    

                                    {% for i in data%}
                                    <div id='knowledge-item'>
                                        <div id='inner-knowledge-item'>
                                            {{i.name}}
                                        </div> 
                                    </div>
                                    {% endfor %}
                                    <!-- <div id='knowledge-item'><div id='inner-knowledge-item'>
                                        Html
                                    </div> </div>
                
                                    <div id='knowledge-item'><div id='inner-knowledge-item'>
                                        Css
                                    </div> </div>
                                    <div id='knowledge-item'><div id='inner-knowledge-item'>
                                        Javascript 
                                    </div> </div>
                                    <div id='knowledge-item'><div id='inner-knowledge-item'>
                                        Python
                                    </div> </div>
                                    <div id='knowledge-item'><div id='inner-knowledge-item'>
                                        Sql
                                    </div> </div>
                
                                    <div id='knowledge-item'><div id='inner-knowledge-item'>
                                        Jquery
                                    </div> </div>
                                    <div id='knowledge-item'><div id='inner-knowledge-item'>
                                        Flask 
                                    </div> </div> -->
                                    
                                    
                                
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div> 
                

                 
            </div>

        </div>    

        {% include 'base/navbar.html'%}
       
    </div>
    <!-- script -->
    <script src='../static/js/main.js'></script>
    <script src='../static/js/loadingbar.js'></script>

   

</body>
</html>