*{
    margin:0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    
}
body,html{
    width:100%;
    height:100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    width:95%;
    height:80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
  
    

}


.box{
    
    width:100%;
    word-wrap: break-word;
   
}

img{
    object-fit: cover;
}

#iconhover:hover #icontext{
   
 display:block;
 right:100px;
 transition: 10s;

}

#icontext{
    display: none;
    position: fixed;
  

}






