*{
    margin:0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    
}
body,html{
    width:100%;
    height:100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    width:95%;
    height:80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
  
    

}

.fontsizeh1{
    font-size:3vw;
}

.fontsizep{
    font-size:1.5vw;
}

.fontsizepsmall{
    font-size:1.1vw;
}



.box{
    
    width:100%;
    word-wrap: break-word;
   
}

img{
    object-fit: cover;
    max-width:100%;
    
    
}

#responsive-header{
    position: fixed;
    display: none;
    left:20px;
    top:20px;
    background-color: rgba(0,0,0, 0.1);
    padding: 5px;
}

#responsive-nav-bar{
    
    position: fixed;
    right: 0%;
    overflow: hidden;
    background-color: #04B4E0;
    height: 0%;
    width:0%;
    transition: 0.5s;
}

#profile-icon{
    display: none;
    
}

#iconhover:hover #icontext{
   
 display:block;
 right:100px;
 transition: 1s;

}

#icontext{
    display: none;
    position: fixed;
    transition: 1s;
  

}

.loadingbar{
    height:4px;
}



.loadingbarborder{
    border:1px solid #04B4E0;
}
.loadingbarborder2{
    border:2px solid #04B4E0;
}

.fontsize{
    font-size:1em;
}

#background-color:hover{
    background-color: rgba(0,0,0, 0.5);
    border-radius: 10%;
}

.backgroundimage{
    background-image: url("https://images.unsplash.com/photo-1609342475528-dd7d93e8311e?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

.backgroundimage2{
    background-image: url("https://images.unsplash.com/photo-1604591259403-81d6c9cf87d7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDR8Sjl5clBhSFhSUVl8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    
}



.backgroundimage3{
    background-image: url("https://images.unsplash.com/photo-1589115210460-fac01ef605d4?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDE0fEo5eXJQYUhYUlFZfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

.backgroundimage4{
    background-image: url("https://images.unsplash.com/photo-1526498460520-4c246339dccb?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDczfEo5eXJQYUhYUlFZfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.cardbox img{
   transition: 1s;
 }

.cardbox:hover img{
   transform:scale(1.2)
}

.cardbox i{
    display: none;
    z-index: 1;
}

.cardbox:hover i{
    display: block;
}

.cardbox .overlay{
    width:0px;
    padding:0px;
    transition: 0.1s;
}

 .cardbox:hover .overlay{
    display: block;
    width:100%
} 





/* display */
.flexdisplayrow{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.flexdisplayrownot{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

.flexdisplaycolumn{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}

.flexdisplaycolumnnot{
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
}

.flexdisplaycolumncenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* display ends */

.nonepadding{
    padding:0px;
}

.boxstandart{
    height:400px;
    
}

.overflow{
    overflow-y: auto;
}

.overflowhide{
    overflow: hidden;
}


.boxstandart2{
    height:250px;
    
}

.iconstandart{
    background: none;
    border:none;

}

.padding{
    padding:5px;
}

/* Color start */
.textcolorblue{
    color:#04B4E0;
}

.textcolorwhite{
    color:white;
}

.textcolorblack{
    color:black;
}

.textcolorblack2{
    color:black;
}

.textcolorblack3{
    color:black;
}
.textcolorblack2:hover{
    color:white;
}
.textcolorgrey{
    color:#5C5C5C;
}

.textcolorblack:hover{
    
    color:#04B4E0;
}

.bgcolorblue{
    background-color:#04B4E0;
   

}
.bgcolorwhite{
    background-color: white;
}

.bgcolorwhitesmoke{
    background-color: #FCFCFC;
}

.bgcolorwhite2{
    background-color: white;
}
.bgcolorwhite2:hover{
    background-color:#04B4E0;
}

.bgcolorblackoverlay{
    background: rgba(0,0,0, 0.5);
}

.shadow{
    box-shadow: 0px 0px 5px black;
}
.shadow2{
    box-shadow: 0px 0px 10px black;
}

/* color end */


/* border start */
.borderradius{
    border-radius: 30px;
}

.borderradius2{
    border-radius: 100%;
}

.borderradius3{
    border-radius: 10px;
}

.border{
    border:1px solid black;
}

.border2{
    border:1px solid  #5C5C5C;
}

.border3{
    border:2px solid  #E5E5E5;
}


/* border ends */

/* position start */

.position-absolute{
    position:absolute;

}
.position-relative{
    position: relative;
}
/* position ends */





