/* width start */
[class^='col']{
    padding:10px 10px;
    
    box-sizing: border-box;
}

.col0{
    width:calc((100%/12)*0)
}

.col1{
    width:calc((100%/12)*1)
}

.col2{
    width:calc((100%/12)*2)
}
.col3{
    width:calc((100%/12)*3)
}
.col4{
    width:calc((100%/12)*4)
}
.col5{
    width:calc((100%/12)*5)
}
.col6{
    width:calc((100%/12)*6)
}
.col7{
    width:calc((100%/12)*7)
}
.col8{
    width:calc((100%/12)*8)
}
.col9{
    width:calc((100%/12)*9)
}
.col10{
    width:calc((100%/12)*10)
}
.col11{
    width:calc((100%/12)*11)
}
.col12{
    width:calc((100%/12)*12)
}
/* width ends */



/* height start */
.height{
    height:100%;
}

.height90{
    height:90%;
}

.height80{
    height:80%;
}

.height70{
    height:70%;
}

.height60{
    height:60%;
}

.height50{
    height:50%;
}

.height40{
    height:40%;
}

.height30{
    height:30%;
}

.height20{
    height:20%;
}

/* height end */
