* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
}

#responsive-menu {
  display: none;
  overflow: hidden;
}

#responsive-menu-button {
  display: none;
  z-index: 100;
}

#responsive-header {
  padding: 5px;
  background-color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  display: none;
  z-index: 100;
}

/* width start */
[class^='col'] {
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col0 {
  width: calc((100%/12)*0);
}

.col1 {
  width: calc((100%/12)*1);
}

.col2 {
  width: calc((100%/12)*2);
}

.col3 {
  width: calc((100%/12)*3);
}

.col4 {
  width: calc((100%/12)*4);
}

.col5 {
  width: calc((100%/12)*5);
}

.col6 {
  width: calc((100%/12)*6);
}

.col7 {
  width: calc((100%/12)*7);
}

.col8 {
  width: calc((100%/12)*8);
}

.col9 {
  width: calc((100%/12)*9);
}

.col10 {
  width: calc((100%/12)*10);
}

.col11 {
  width: calc((100%/12)*11);
}

.col12 {
  width: calc((100%/12)*12);
}

/* width ends */
/* height start */
.height {
  height: 100%;
}

.height90 {
  height: 90%;
}

.height80 {
  height: 80%;
}

.height70 {
  height: 70%;
}

.height60 {
  height: 60%;
}

.height50 {
  height: 50%;
}

.height40 {
  height: 40%;
}

.height30 {
  height: 30%;
}

.height20 {
  height: 20%;
}

.box {
  width: 100%;
}

#container {
  width: 95%;
  height: 80%;
  overflow: hidden;
  margin-left: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  background-color: #04B4E0;
  -webkit-box-shadow: 0px 0px 4px black;
          box-shadow: 0px 0px 4px black;
}

#inner-container-container {
  background-color: white;
  border-radius: 30px;
  border: none;
}

#inner-container-profile {
  border-radius: 30px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#inner-container-profile-img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3vw;
  border: none;
}

#inner-container-profile-img-div #profile-div-text {
  width: 80%;
  text-align: center;
}

#inner-container-profile-img-div img {
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid white;
}

#inner-container-profile-img-div #inner-container-profile-social-icon {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#inner-container-profile-img-div #inner-container-profile-social-icon a {
  color: white;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

#navbar a {
  color: black;
}

#navbar a:hover {
  color: #04B4E0;
}

#navbar a:hover span {
  right: 58px;
}

#navbar-nav-icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 4px black;
          box-shadow: 0px 0px 4px black;
}

#navbar-nav-icons span {
  right: -200px;
  position: absolute;
  padding: 5px;
  background-color: #04B4E0;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar-nav-arrows {
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 0px 4px black;
          box-shadow: 0px 0px 4px black;
}

@media (max-width: 1200px) {
  #responsive-menu {
    height: 100%;
    width: 0%;
    background-color: #04B4E0;
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
  }
  #responsive-menu-button {
    display: block;
    position: absolute;
    background-color: #04B4E0;
    color: white;
    right: 10px;
    top: 10px;
    padding: 5px;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
  #responsive-header {
    display: block;
  }
  #container {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  #inner-container0 {
    width: 100%;
    padding: 0%;
  }
  #inner-container {
    border-radius: 0%;
    border: none;
  }
  #navbar {
    display: none;
  }
  #inner-container-profile {
    display: none;
  }
  #inner-container-container {
    width: 100%;
    border-radius: 0%;
  }
}

#about-div {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
  overflow-y: auto;
  word-wrap: break-word;
}

#about-div-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about-div-image {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-div-image img {
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 11px  black;
          box-shadow: 0px 0px 11px  black;
  border: 10px solid white;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid white;
}

#about-div-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-div-text p {
  color: grey;
}

@media (max-width: 756px) {
  #about-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-div-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-div-image {
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about-div-text {
    width: 100%;
    height: auto;
    font-size: 4vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #about-div-text h1 {
    text-align: center;
  }
  .about-div-p {
    text-align: center;
  }
  #about-div img {
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0px 0px 5px black;
            box-shadow: 0px 0px 5px black;
  }
}

#resume-div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#resume-div-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#skill-bar-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#skill-bar-text p {
  color: grey;
}

.skill-bar-html {
  border: 1px solid #04B4E0;
  border-radius: 10px;
  height: 7px;
  padding: 1px;
}

.skill-bar-html .box {
  width: 90%;
  background-color: #04B4E0;
  height: 100%;
}

.skill-bar-javascript {
  border: 1px solid #04B4E0;
  border-radius: 10px;
  height: 7px;
  padding: 1px;
}

.skill-bar-javascript .box {
  width: 70%;
  background-color: #04B4E0;
  height: 100%;
}

.skill-bar-sql {
  border: 1px solid #04B4E0;
  border-radius: 10px;
  height: 7px;
  padding: 1px;
}

.skill-bar-sql .box {
  width: 40%;
  background-color: #04B4E0;
  height: 100%;
}

.skill-bar-python {
  border: 1px solid #04B4E0;
  border-radius: 10px;
  height: 7px;
  padding: 1px;
}

.skill-bar-python .box {
  width: 1%;
  background-color: #04B4E0;
  height: 100%;
}

@media (max-width: 756px) {
  #resume-div-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #resume-div-education {
    width: 100%;
  }
  #resume-div-skills {
    width: 100%;
  }
}

#blog-div {
  height: 100%;
  overflow-y: auto;
}

#blog-div-header h1 {
  margin-left: 20px;
}

#blog-div-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blog-div-posts-card {
  height: 300px;
  overflow: hidden;
}

#blog-div-posts-card-img {
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

#blog-div-posts-card-inner-img {
  height: 100%;
  padding: 0px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blog-div-posts-card-inner-img i {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 40px;
  display: none;
}

#blog-div-posts-card-inner-img:hover i {
  display: block;
}

#blog-div-posts-card-inner-img:hover #blog-div-posts-card-inner-img-overlay {
  width: 100%;
  height: 100%;
}

#blog-div-posts-card-inner-img-overlay {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  position: absolute;
  width: 0%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

#blog-div-posts-card-inner-img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#blog-div-posts-card-inner-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#blog-div-posts-card-text {
  height: 150px;
}

#blog-div-posts-card-text p {
  color: grey;
}

#blog-div-posts-card-text a {
  color: black;
}

#blog-div-button {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 5px;
  border-radius: 20px;
  color: black;
  background-color: white;
  border: 2px solid #04B4E0;
  margin-left: 20px;
}

#blog-div-button:hover {
  background-color: #04B4E0;
  color: white;
}

@media (max-width: 756px) {
  #blog-div-posts-card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */